version: "3"

services:
  jce_java:
    build: ./docker-jce-jre
    image: pronter/jce-java
    read_only: true
    command: echo "jce java"
    environment:
      - TZ=Asia/Shanghai

  codex-server-config-1:
    build: ../codex-server-config
    image: prontera/codex-server-config
    ports:
      - "8100:8100"
    depends_on:
      - 'jce_java'
    environment:
      - server.port=8100
      - spring.profiles.active=local
      - DB_MICRO_URL
      - DB_MICRO_USERNAME
      - DB_MICRO_PWD
      - TZ=Asia/Shanghai
#    network_mode: "host"
    networks:
      backend:


  codex-server-config-2:
    build: ../codex-server-config
    image: prontera/codex-server-config
    ports:
      - "8101:8101"
    depends_on:
      - 'jce_java'
    environment:
      - server.port=8101
      - spring.profiles.active=local
      - DB_MICRO_URL
      - DB_MICRO_USERNAME
      - DB_MICRO_PWD
      - TZ=Asia/Shanghai
#    network_mode: "host"
    networks:
      backend:

  codex-server-eureka-1:
    build: ../codex-server-eureka
    image: prontera/codex-server-eureka
    ports:
      - "8200:8200"
    depends_on:
      - 'jce_java'
    environment:
      - TZ=Asia/Shanghai
      - spring.profiles.active=local1
#    network_mode: "host"
    networks:
      backend:
        aliases:
          - eureka1

  codex-server-eureka-2:
    build: ../codex-server-eureka
    image: prontera/codex-server-eureka
    ports:
      - "8201:8201"
    depends_on:
      - 'jce_java'
    environment:
      - TZ=Asia/Shanghai
      - spring.profiles.active=local2
#    network_mode: "host"
    networks:
      backend:
        aliases:
          - eureka2

networks:
  backend: